.container {
  height: 100vh;
  background-color: #1B1B1B;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.card-container {
  box-sizing: border-box;
  margin: auto;
  max-width: 1000px;
  width: 100%;
  height: 600px;
  background-color: #2B2B2B;
  border-radius: 18px;
  padding: 0 50px 25px ;
}

.head-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-1 {
  margin: 20px 20px 10px 20px;
  font-size: 2rem;
  font-weight: 600;
  color: #c0c0c0;
}

.input-card {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 0.25px solid #c0c0c0;
}

.input-card > input {
  width: 100%;
  height: 34px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Roboto';
  margin-right: 10px;
}

input:focus {
  outline: none;
}

.btn {
  background-color: #c0c0c0;
  max-width: 100px;
  width: 100%;
  height: 34px;
  border-radius: 5px;
  border: none;
}

.btn:active {
  background-color: #fff;
}

.btn-div {
  max-width: 210px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.task-card {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  /* background-color: #484848; */
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
}

.todo-text {
  color: #fff;
  font-family: 'Roboto';
} 

.todo-completed {
  color: #fff;
  font-family: 'Roboto';
  text-decoration: line-through;
  opacity: 0.5;
}

.list-container {
  width: 100%;
  height: 420px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #c0c0c0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.select {
  margin: 32px 20px auto auto;
}

.filter-todo {
  max-width: 175px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  background-color: #c0c0c0;
}

.filter-todo:focus {
  outline: none;
  background-color: #fff;
}